.scores {
  display: block;
  background-color: rgba($color-primary-dark, 0.6);
  color: $color-white;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.4rem;
  border-radius: 5px;
  max-width: 40rem;
  margin: auto;
  text-align: center;

  &__number {
    color: $color-primary-light;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
