.section-main {
  background-color: $color-primary-dark;
  position: relative;
}

.game-container {
  position: relative;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.section-btns {
  background-color: $color-primary-light-2;
  padding: 3rem;
  margin-top: 5rem;
}
